/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

li {
	list-style: none;
}

.header, , .footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.nav-pills>li>a {
	border-radius: 0px;
}

.nav>li>ul>li>a, .nav>li>ul>li>a {
	text-decoration: none;
	background-color: #eee;
	position: relative;
	display: block;
	padding: 10px 15px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container {
	max-width: 1024px;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* row */
.row {
	margin-top: 20px;
}

